fastapi
uvicorn
langchain
langchain-community
langchain-text-splitters
langgraph
sqlalchemy
pydantic
groq
langchain-groq
faiss-cpu
PyPDF2
pandas
openpyxl
python-dotenv
psycopg2-binary
python-multipart
rank_bm25==0.2.2
